name: Commit Msg Check Action

on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  check-commits:
    runs-on: ubuntu-latest

    steps:    
      - name: Run custom commit check
        uses: ynancher/commit-msg-check-action@ynancher-test
        with:
          body-char-limit: 72
          sub-char-limit: 50
          check-blank-line: true
